<div class="headerIntro">
    <div class="backgroundImage" id="backgroundImage-1">
        <div class="backgroundImageCredit" alignment="true">COURTESY STANFORD UNIVERSITY ATHLETIC DEPARTMENT</div>
    </div>
    <h1 class="overlayText">Headline goes here</h1>
</div>

<div class="headerSection">
    <div class="BackgroundImageCaption">
        Cory Booker, now a New Jersey Senator, seen here in 1988 a tight end at Stanford University.
    </div>
    <div class="headDisplay">
        <div class="subHead">
            This is the subhead.
        </div>
        <div class="byline">
            Jonathan Tamari / Staff Writer, <a href="mailto:jtamari@phillynews.com">jtamari@phillynews.com</a>
            <div style="float:right;" class="custom-social-share" alignment="true">&nbsp;</div>
        </div>
        <div class="dateline">April 18, 2018</div>
    </div>
</div>

<div class="container bodyContainer" alignment="true">
    <div class="row" alignment="true">
        <div class="col-md-8 col col-md-offset-2" alignment="true">
            <p><span class="dropCap">P</span>ALO ALTO, Calif. — Cory Booker — with shoulders thick as a Buick underneath his oversized pads — raced untouched across the 45-yard-line at Notre Dame Stadium, and flashed his hand upwards in the universal sign for "I'm open."</p>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right">
                <img class="img-fluid" src="http://media.philly.com/images/booker_1988_onfield_mini.jpg" alt="" width="100%/">
                <div class="containerPhotoCredit" alignment="true">COURTESY STANFORD UNIVERSITY ATHLETIC DEPARTMENT</div>
                <div class="containerPhotoCaption" alignment="true">Cory Booker, playing football at Stanford in 1988.</div>
            </div>
            <p>The pass hit him in his red number 81, and the Stanford tight end turned upfield, side-stepped an All-American defensive back and barrelled into  Fighting Irish territory. The big gain sparked a touchdown drive, and by the end of that October afternoon in 1990, Stanford had upset the country's No. 1-ranked team, 36-31.</p>
            <p>Booker hoped the game might catapult his college football career and open the door to the NFL. Instead, it was a peak he'd never reach again.</p>
            <p>Less than two months later, the player once heralded as one of the country's top high school prospects would be pushed off the team before his final year of eligibility.</p>
            <p>"It was like the first time in my life I ever felt like I failed at something," Booker, now a Democratic U.S. Senator from New Jersey, recalled in an interview. "And it was one of the toughest blows to my ego I've ever taken."</p>

            {% set quote = ["It was one of the toughest blows to my ego I've ever taken.", "Cory Booker"] %} {% include "partials/left-quote.html" %}

            <p>On his gleaming resume, Booker's college football career stands out as an unusual bullet point.</p>
            <p>Unlike at most stops in his life, the one-time Stanford class president, Rhodes scholar, Newark mayor and political celebrity who became a senator at 44 never achieved star status as a Stanford athlete. He was relegated to the background, a role player on a talented team.</p>
<div class="adUnitWrapper containerMedia containerInsertRight" alignment="true">
    <div class="adUnit" alignment="true">
        <div id="div-gpt-ad-mrec-21" alignment="true">
            <script alignment="true" type="text/javascript">
                // <![CDATA[
                cX.callQueue.push(['invoke', function() {
                    googletag.cmd.push(function() {
                        googletag.display('div-gpt-ad-mrec-21');
                    });
                }]);
                // ]]>
            </script>
        </div>
    </div>
</div>
<p>It's a piece of his biography that has gone largely unexplored as Booker has landed on the shortlist of potential Democratic presidential candidates in 2020. With that possibility comes a new level of scrutiny on Booker's personal history, as voters seek to understand the experiences that shaped a man who might put himself forward to lead the country.</p>
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gOgHErkI_z4"></iframe>
</div>
<p>A look at his four years on the Cardinal football team shows how someone who has enjoyed a rapid rise, whose ambitions seems boundless and whose political critics accuse him of being more flash than substance handled frustration, disappointment and a workmanlike grind with little personal glory.</p>
<div class="subhead_wrapper">
<div class="subhead">'Everybody was excited'</div>
</div>
<p>The phone rang at Booker's home in Harrington Park, N.J. Gerald Ford was on the other end.</p>
</div>
</div>
<div class="row" alignment="true">
<div class="col imagebreak">
    <img class="img-fluid" src="http://media.philly.com/images/booker_office_football_2048_mini.jpg" alt="" width="100%/">
    <div class="containerPhotoCredit" alignment="true">DAVID SWANSON / Staff Photographer</div>
    <div class="containerPhotoCaption" alignment="true">In his Washington office, Senator Cory Booker recalls his days playing as a tight end for Stanford.</div>
</div>
</div>
<div class="row" alignment="true">
<div class="col-md-8 col col-md-offset-2" alignment="true">
  <p>The former president wanted Booker, then in high school, to come play for his alma mater, the University of Michigan.</p>
  <p>As a wide receiver and defensive back at Northern Valley Regional High School in Old Tappan, Booker had powered the Golden Knights to a state title and was named to USA Today's All-USA team for 1986. The Chicago Tribune rated the 6-foot-4, 220 pound senior as one of the top 25 prospects in the country, and Gatorade named him player of the year in New Jersey.</p>
</div>
</div>
</div>
<div class="container-fluid">
<div class="row">
<div class="col-md-4" style="padding:0 !important;">
    <img src="http://media.philly.com/images/booker_1987_mini.jpg" alt="" width="100%/">
</div>
<div class="col-md-4" style="padding:0 !important;">
    <img src="http://media.philly.com/images/booker_1988_mini.jpg" alt="" width="100%/">
</div>
<div class="col-md-4" style="padding:0 !important;">
    <img src="http://media.philly.com/images/booker_1989_mini.jpg" alt="" width="100%/">
</div>
<div class="containerPhotoCredit" alignment="true">COURTESY STANFORD UNIVERSITY ATHLETIC DEPARTMENT</div>
<div class="containerPhotoCaption" alignment="true">Photos of then football player Corey Booker in the Stanford University media guide in (from left) 1987, 1988, and 1989.</div>
</div>
</div>
<div class="container">
<div class="row">
<div class="col-md-8 col col-md-offset-2">
  <p>Some of the biggest names in college football coaching came to North Jersey to recruit Booker, including Notre Dame's Lou Holtz and Steve Spurrier, then at Duke.</p>
  <p>"It was a very heady time for me," Booker, 48, said in his Senate office in Washington, where he keeps a football on a shelf(drawer?). Booker — who'd later star in a documentary, befriend Oprah and draw consideration in 2016 to be Hillary Clinton's running mate — says the high school media attention, "was good early training."</p>
  <p>Thinking past football, he chose Stanford when the school topped that year's U.S. News and World Report academic rankings.</p>

  {% set quote = ["Football was going to be my ticket and not my destination.", "Cory Booker"] %} {% include "partials/left-quote.html" %}

  <p>Even then, Booker said, he knew, "Football was going to be my ticket and not my destination." His bio in the 1987 Stanford football media guide noted that the freshman was already planning to go to law school.</p>
  <p>On the field, the guide glowed that Booker "could be the class of a great class." As fellow freshman Tommy Vardell put it, "everybody was excited about having Cory Booker."</p>
<div class="subhead_wrapper">
<div class="subhead">A difficult adjustment</div>
</div>
<p>The excitement quickly met a much colder reality.</p>
<p>Booker spent two years on the bench under coach Jack Elway (father of Hall of Fame quarterback John Elway), and other players emerged as Stanford's top threats, including Vardell, wide receivers Ed McCaffrey and Chris Walsh and running back Glyn Milburn. All four went to the NFL.</p>
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3zV7l1R6VXo"></iframe>
</div>
<p>"Coming from high school, we're all superstars, we're all the guy who gets the ball," said Jonathan Pinckney, a wide receiver on the team who grew up in Bethlehem, Pa. But on that team, "If you weren't Ed McCaffrey, Glyn Milburn or Tommy Vardell, you were a role player on offense."</p>
<
  {% set quote = ["Coming from high school, we're all superstars, we're all the guy who gets the ball.", "Jonathan Pinckney, a wide receiver on Booker's Stanford team"] %} {% include "partials/left-quote.html" %}

p>Booker's teammates and coaches universally described him as a good athlete and a quiet, hard-working competitor. Just playing on a Division I college football team, they noted, was exceptional.</p>
<p>"A great kid to coach," said Brian Billick, who coached wide receivers and tight ends at Stanford and later led the Baltimore Ravens to a Super Bowl championship. Now an analyst for the NFL Network, Billick called Booker "a smart player and tough … was where he was supposed to be, doing what he was supposed to be doing."</p>
<p>He was more of a pass-catcher than a blocker, studious, but lacking top-end speed.</p>
<p>Coaches and teammates, however, had few distinct memories of Booker on the field. Local news reports barely mentioned him, other than when he recovered an onside kick one Saturday against Oregon to set up his team's game-winning field goal.</p>
<p>Instead, the most vivid thing recalled by seven former teammates and coaches interviewed for this article was Booker's friendly, upbeat attitude — a trait he now offers as an antidote to the country's toxic politics.</p>
<p>When Tony Cline arrived as a freshman tight end, the older Booker showed him where to place his hands as a blocker, and advised him on which courses to take.</p>
<p>"Everyone that you interview is going to say the same boring stuff: Just a really nice guy," said Cline, who would spend four years in the pros. "The thing that really sticks out to me is that even when I was playing ahead of him he was still very helpful to me, and that's not normal."</p>
<p>Booker went through a physical roller-coaster as he realized that natural talent wouldn't carry him in college. After coming to Stanford at 220-pounds and playing tight end he dropped to 195 to move back to wide receiver, then bulked back up to 230 and returned to tight end when a new coaching staff led by Dennis Green took over.</p>
<p>But it took until his junior year to make his first college catch, and he was still a backup as a senior, when Stanford started 1-3 and headed to South Bend, Ind. to play Holtz and top-ranked Notre Dame.</p>
<div class="subhead_wrapper">
<div class="subhead">"Utter Glory"</div>
</div>
<p>Booker had visited Notre Dame as a high schooler, where Holtz urged him to imagine running out onto the field under the mural of Touchdown Jesus.</p>
<p>Now Booker was back, with his father in the stands, and a nearly 60,000-person crowd packed so close to the sidelines they could practically reach out and touch players on the bench.</p>
<p>Notre Dame jumped to a 24-7 lead, but then Stanford quarterback Jason Palumbis began spreading the ball around the field.</p>
<p>Nearly 30 years later, Booker still vividly remembers the 25-yard catch and run that helped Stanford begin its comeback. Unprompted, he names the defender he shook: Todd Lyght, later the 5th pick in the NFL Draft.</p>
<p>"To make him fall down was one of the highlights of my career," Booker said.</p>
<p>He finished the game with four catches for 47 yards and a contributing role as Vardell and McCaffrey starred. Each of Booker's receptions came on essentially the same offensive scheme.</p>
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/sd8IbEUNGg0"></iframe>
</div>
<p>"I don't think they probably did a lot of preparation around our tight ends running drags across the field," said Vardell, who scored four times that day and became known as "Touchdown Tommy." "It was a great chance for (Booker) to show what he was capable of."</p>
<p>Booker, whose political brand centers on mantras of unity and cooperation, now says that game "reinforced to me the power of when good people come together, work really hard together, sweat together, sacrifice together."</p>
<p>It was his most productive day as a receiver, and his biggest victory at Stanford. Booker remembers hugging his father in the locker room and celebrating on the flight back. "It was utter glory," he said.</p>
<p>A week later, he caught his first touchdown since high school, a 38-yard score against USC. Booker finally felt like his career was coming together.</p>
<p>He told the Stanford Daily he hoped to start the next season and would "definitely" want to go to the NFL. The salary, he told the school newspaper, would help pay for law school.</p>
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/G8yPAEIlSCc"></iframe>
</div>
<div class="subhead_wrapper">
<div class="subhead">Bigger Things</div>
</div>
<p>Unlike many college athletes, Booker had an unusually wide array of interests.</p>
<p>He helped lead a crisis counseling center, taking 24-hour shifts and staying up late to talk to people dealing with everything from relationship troubles to suicidal thoughts. He worked at a community center in East Palo Alto. As a senior he was elected as one of several class presidents, on a slate dubbed Carpe Diem.</p>
<p>"He probably had a broader perspective than I did on the Stanford experience," said Pinckney, who added that he had just two goals: stay eligible and do whatever was necessary to keep his playing time.</p>
<p>Booker didn't drink, Vardell said, and didn't move off campus with his teammates, as many others did.</p>
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Q2nxe4FIKtU"></iframe>
</div>
<p>"You could tell that he was just different from the rest of us from the way that he kind of networked around the campus, and really had, at an early age, a wise soul and had a sense of empathy and compassion that doesn't necessarily come naturally to an 18-year-old football player," said Turner Baur, a fellow tight end who practiced alongside Booker.</p>
<p>While Booker's critics have long questioned whether the senator has the diligence to back up his glossy image, former teammates and coaches said that at Stanford he quietly did the unglamorous work it took to be part of the team, even while struggling for playing time and serving as a grunt on special teams.</p>
<p>In a Stanford kind of way, some frustrated players kept spreadsheets detailing how much scholarship money they got for each five-minute practice period they endured, Baur said. Booker never expressed such disenchantment.</p>
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Wxw7UDrGtFU"></iframe>
</div>
<p>"He worked his tail off," Baur said.</p>
<p>People who knew him offered an array of explanations for why Booker's career never matched the anticipation: He was surrounded by NFL-level talent. He shuffled between positions. The coaches who recruited him were gone after his second year. He injured his shoulder.  Coaches may have questioned his commitment due to his extracurriculars. He wasn't fast enough.</p>
<p>And sometimes, it's just hard to project how even a promising talent will perform on a bigger stage.</p>
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/JvQsn0lLZMk"></iframe>
</div>
<div class="subhead_wrapper">
<div class="subhead">"Full circle"</div>
</div>
<p>Booker had no idea it was coming when he got hit with the gut punch.</p>
<p>The winter after that Notre Dame game, Green, Stanford's coach, called Booker to his office. He told the one-time star recruit that he wouldn't be back for his fifth and final year of eligibility.</p>
<p>"I was dumbfounded," Booker said.</p>
<p>He finished his four-year career with 20 catches, one touchdown, and one start. In his disappointment, though, Booker soon found another opportunity.</p>
<p>He suddenly had newfound free time, and an art teacher, Jody Maxmin, suggested he apply for a Rhodes Scholarship.</p>
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ILM9algY6hI"></iframe>
</div>
<p>"I thought to myself, you know there's so many blessings sometimes in your toughest times," said Booker, in his trademark language of uplift.</p>
<p>He'd go on to study at Oxford — where he joined the basketball team and, he says, crushed rivals like Cambridge — and set off on a new path, one that eventually did get him to Yale Law School.</p>
<p>Even in a shirt and tie, Booker remains a burly presence behind his Senate desk, and now calls himself "the most overrated football player I think in the history of high school football."  He chalked up his high school accolades to having great teammates, and said that at Stanford he "savored" his chance to be "a servant" who tried to "support the cast."</p>
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0JZxuHN2Ju4"></iframe>
</div>
<p>"It was just an incredible time of mind-body-spirit alignment, and just some of the best years of my life," Booker says.</p>
<p>Playing under two coaching staffs, he says, helped him learn different ways to lead, and he says he still values the camaraderie, discipline and gladiatorial feel he got from football.</p>
<p>Booker won't talk about his 2020 plans, insisting he's focused on this year's congressional elections, but he's been taking the steps a presidential candidate would. One thing seems certain: the lessons of his football life will inform his message if he starts traveling regularly to Iowa and New Hampshire.</p>
<div class="adUnitWrapper containerMedia containerInsertRight" alignment="true">
    <div class="adUnit" alignment="true">
        <div id="div-gpt-ad-mrec-22" alignment="true">
            <script alignment="true" type="text/javascript">
                // <![CDATA[
                cX.callQueue.push(['invoke', function() {
                    googletag.cmd.push(function() {
                        googletag.display('div-gpt-ad-mrec-22');
                    });
                }]);
                // ]]>
            </script>
        </div>
    </div>
</div>
<p>Booker still returns to Stanford sometimes to talk to the current players, and says his high school teammates remain "brothers." On the day he was sworn into the U.S. Senate in 2013 his high school coach, Bert Ammerman, came to the Capitol.</p>
<p>Later that day, roughly three decades after the phone call from Gerald Ford, Booker went to the White House, where then-President Barack Obama greeted him just outside the Oval Office, holding a football. There, the two men tossed the ball as they spoke.</p>
<p>"It was a full circle moment for me," Booker said as he recalled entering a new phase, with expectations again running high.</p>
        </div>
    </div>
</div>
<div class="headerIntro">
    <div class="backgroundImage" id="backgroundImage-2">
        <div class="backgroundImageCredit" alignment="true">Xxxx Xxxx / Staff Photographer</div>
    </div>
</div>
